html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #1F2937;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

header {
    padding: 3em 0;
    width: 100%;
    text-align: center;
    background-color: #3A69D2;
    color:#FFFFFF;
}

section {
    width: 100%;
    background-color: #1F2937;
    color:#FFFFFF;
}

.info {
    padding: 2.5em; 
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.tasks-options {
    display: flex;
    justify-content: space-around;
}

.tasks-options > button {
    cursor: pointer;
    width: 30%;
    font-weight: 500;
    font-size: 1rem;
    background-color: #D1D4F4;
    border: 1px solid #D5D4D8;
    border-radius: .5rem;
    padding: .5em 1em;
    margin-bottom: 2.5em;

}

.tasks-options >button:hover{
    background-color:#e6e7f6;
}

.task-name {
    font-weight: 700;
    color: #F5F5F5;
}

.send-invoice-btn {
    color: #FFFFFF;
    background-color: #3A69D2;
    width: 100%;
    height: 3rem;
    padding: .5em 1em;
    border-radius: .5rem;
    border: none;
    line-height: 2rem;
    font-weight: 500;
}

.send-invoice-btn:hover{
    cursor: pointer;
    background-color: #547dd5;

}

.titles, .total {
    color:#D5D4D8;
    font-size: .8rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
}

.total {
    border-top: 1px solid #C3C6DB;
}

.total-amount {
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: end;
    margin-top: 0;
}


.tasks-selected > div{
    display: flex;
    justify-content: space-between;

}

.remove-btn {
    padding: .2em .6em;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    background-color: rgb(209, 209, 209);
}

.remove-btn:hover {
    background-color: #C3C6DB;
}

